<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<h1>Welcome to Login/Register Page</h1> 
 <h1 *ngIf="success"><pre>{{ message.length }}</pre><pre>{{message|json}}</pre></h1> 
 
<div *ngIf="Newuseradded" ><app-confirmUser></app-confirmUser></div>

 

<div *ngIf="!success">
 <form  [formGroup]="messageForm" (ngSubmit)="onSubmit()"> 
 <label><h3><font color="green"> User Login</font></h3></label>
    <h2 *ngIf="success">{{message}}</h2> 
 
      <strong>    Username:  </strong> <br>
	<input type="text" style="font-size:16px" formControlName="name" maxlength='10'> 
  
	<div *ngIf="submitted && messageForm.controls.name.errors" class="error">         
	<div *ngIf="messageForm.controls.name.errors.required">Username is required</div>       
	</div>       <br>
	<strong >   Password:   </strong> <br>    
	<input type="text" style="font-size:16px" formControlName="password"  maxlength='10'> <br>      
	<div *ngIf="submitted && messageForm.controls.password.errors" class="error">        
	<div *ngIf="messageForm.controls.password.errors.required">A password is required</div> 
    <div *ngIf="messageForm.controls.password.errors.minlength">Password must be at leat 6 characters</div> </div>    
	<br>
	<input type="submit" value="Login" class="w3-button w3-black"> </form> 
    <div *ngIf="submitted" class="results">   </div> 
	<hr>
	<form  [formGroup]="messageForm2" (ngSubmit)="onRegister()"> 
	<label><h3><font color="red">Register</font></h3></label>
    <!-- <strong>    First Name:  </strong> <br>
	<input type="text" style="font-size:16px"  formControlName="fname" maxlength='10'> <br>
	<div *ngIf="registered  && messageForm2.controls.fname.errors" class="error">         
	<div *ngIf="messageForm2.controls.fname.errors.required">First name is required</div></div>      
	<strong>    Last Name:  	</strong>  <br>
	<input type="text" style="font-size:16px"   formControlName="lname" maxlength='10'> <br>
	<div *ngIf="registered && messageForm2.controls.lname.errors" class="error">         
	<div *ngIf="messageForm2.controls.lname.errors.required">Last name is required</div></div>        -->
	<strong>    User Name:  	</strong>  <br>
	<input type="text" style="font-size:16px"  formControlName="uname" maxlength='10'> <br>
	<div *ngIf="registered && messageForm2.controls.uname.errors" class="error">         
	<div *ngIf="messageForm2.controls.uname.errors.required">Username is required</div> </div>     
	<strong>    Password:  	</strong>  <br>
	<input type="text" style="font-size:16px"  formControlName="upass" maxlength='10'> <br>
	<div *ngIf="registered && messageForm2.controls.upass.errors" class="error">      
	<div *ngIf="messageForm2.controls.upass.errors.required">A password is required </div>      
    <div *ngIf="messageForm2.controls.upass.errors.minlength">Password must be at leat 6 characters</div> </div>    
	<!-- <strong>    Email: 		</strong>  <br>       
	<input type="text" style="font-size:16px"  formControlName="uemail" maxlength='20'> <br>
    <div *ngIf="registered && messageForm2.controls.uemail.errors" class="error">         
	<div *ngIf="messageForm2.controls.uemail.errors.required">An  email is required</div>
	<div *ngIf="messageForm2.controls.uemail.errors.email"> Must be a valid Email address</div></div>  
	<hr> --><br>
	<input type="submit" value="Register" class="w3-button w3-black"> </form> 
    <div *ngIf="registered" class="results">   </div> 
 </div> 



 